# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/blink/nbproject/private/
/blink/build/default/
/blink/dist/default/
/USB_Example1.X/build/default/
/USB_Example1.X/dist/default/
/USB_Example1.X/nbproject/private/